<div class="container">
    <h2 class="fs-1 text-center mt-4">Conceptual</h2>


    <div class="sumaries mb-5">
        <details class="border shadow-sm my-4">
            <summary>Diatomea</summary>
            <div class="info p-4">
                <p>Las diatomeas son algas microscópicas, unicelulares y eucariotas que pertenecen al reino de los protistas. Estas algas fotosintéticas se caracterizan por tener un esqueleto silíceo denominado frústula. Se encuentran en casi todos los ambientes acuáticos, tanto dulces como salinos, así como en suelos y superficies húmedas, y pueden ser planctónicas (flotantes) o bentónicas (adheridas a sustratos), adaptándose a diversas condiciones climáticas. Las diatomeas son muy sensibles a cambios en las condiciones físicas y químicas del entorno, incluyendo turbidez, temperatura, luz, pH, nutrientes y salinidad.</p>
                <p>Generalmente, su tamaño varía entre 20 y 200 μm de diámetro o longitud, aunque algunas especies pueden alcanzar hasta 2 mm. Pueden encontrarse tanto solas como en colonias, a menudo unidas por filamentos o cadenas. Su presencia es más común en ambientes lacustres y marinos con baja energía.</p>
                <div class="row my-4">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center mb-3" >
                        <img class="img-fluid border rounded" src="assets/img/diatomeas1.jpg" alt="Imagen de una diatomea">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center mb-3" >
                        <img class="img-fluid border rounded" src="assets/img/diatomeas2.jpg" alt="Imagen de una diatomea">
                    </div>
                </div>
                <p>Se distinguen dos tipos principales de diatomeas: las pennadas, que tienen simetría bilateral y predominan en aguas dulces, y las centrales, con simetría radial y que se hallan principalmente en áreas marinas.</p>
                <p>Actualmente, se han identificado más de 200 géneros de diatomeas, y se estima que existen alrededor de 100.000 especies extintas. Las diatomeas pueden encontrarse en su totalidad o como restos de células algales opalizadas dentro de matrices de arcilla, materia orgánica, limolitas o cuarzo. Estas algas tienen la capacidad de acumularse en grandes cantidades y formar sedimentos denominados diatomitas, que están compuestos principalmente de frústulas.</p>
                <h5 class="my-3">Conoce más sobre las diatomeas</h5>
                <a href="https://www.sabermas.umich.mx/archivo/la-ciencia-en-pocas-palabras/339-numero-39/614-diatomeas.html" target="_blank" rel="noopener noreferrer">La ciencia en pocas palabras, Diatomeas.</a>
            </div>
        </details>

        <details class="border shadow-sm my-4">
            <summary>Frústula</summary>
            <div class="info p-4">
                <p>La frústula es el caparazón de las diatomeas, una estructura porosa que permite a la diatomea interactuar con su entorno externo. A través de ella, la diatomea puede eliminar residuos, tricocistos o extrusomas, y secretar mucílago. La frústula está compuesta casi en su totalidad por sílice, con una proporción aproximada del 98%, mientras que el resto está constituido por óxidos de hierro y aluminio. La presencia de este elemento indica una clara asociación con minerales arcillosos.  Esta estructura presenta una alta capacidad de absorción y una extensa área superficial.</p>
                <p>La frústula consta de dos valvas: la superior, llamada epiteca, que es generalmente más grande, y la inferior, denominada hipoteca. Ambas valvas están unidas por una banda de sílice. La epiteca de cada diatomea es heredada de la hipoteca de la diatomea madre, mientras que la nueva diatomea genera su propia hipoteca.</p>
                <p>Cuando la diatomea muere y su materia orgánica se descompone, la frústula se deposita y forma la diatomita, también conocida como suelo diatomáceo. Tienen cuatro funciones principales en una diatomea: generar estabilidad mecánica, separar y filtrar nutrientes de los virus, regular la velocidad de hundimiento y regular la cantidad de luz que entra a la célula.</p>
                <div class="d-flex justify-content-center">
                    <img class="img-fluid border rounded" src="assets/img/frustula.jpg" alt="Imagen de una diatomea">
                </div>
                <h5 class="my-3">Conoce más sobre las frústulas</h5>
                <!-- <a href="https://es.wikipedia.org/wiki/Fr%C3%BAstula" target="_blank" rel="noopener noreferrer">Frústulas en Wikipedia</a> -->
                <a href="https://www.sabermas.umich.mx/archivo/la-ciencia-en-pocas-palabras/339-numero-39/614-diatomeas.html" target="_blank" rel="noopener noreferrer">La ciencia en pocas palabras, Diatomeas.</a>
            </div>
        </details>

        <details class="border shadow-sm my-4">
            <summary>¿Qué son los suelos diatomáceos?</summary>
            <div class="info p-4">
                <p>Los suelos  diatomáceos, son depósitos que resultan de la muerte y descomposición de las frústulas o algas muertas en el fondo de océanos o lagos.</p>
                <div class="d-flex justify-content-center">
                    <img class="img-fluid border rounded" src="assets/img/suelos_diatomeaseos.jpg" alt="Imagen de una diatomea">
                </div>
                <h5 class="my-3">Conoce más sobre los suelos diatomáceos</h5>
                <a href="https://core.ac.uk/download/pdf/296528413.pdf" target="_blank" rel="noopener noreferrer">Comportamiento monotónico de suelos diatomáceos</a>
            </div>
        </details>

        <details class="border shadow-sm my-4">
            <summary>¿Qué es microscopía electrónica de barrido?</summary>
            <div class="info p-4">
                <p>Microscopio electrónico de barrido, mejor conocido por sus siglas en inglés como SEM (scanning electron microscope), es un tipo de microscopio electrónico, diseñado para estudiar directamente las superficies de objetos sólidos, que utiliza un haz de electrones enfocados con energía relativamente baja como una sonda de electrones que se escanea de manera regular sobre la muestra. La acción del haz de electrones estimula la emisión de electrones dispersados de alta energía y electrones secundarios de baja energía de la superficie de la muestra.</p>
                <div class="row my-4">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center mb-3" >
                        <img class="img-fluid border rounded" src="assets/img/microscopia_electronica_barrido1.jpg" alt="Imagen de una diatomea">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center mb-3" >
                        <img class="img-fluid border rounded" src="assets/img/microscopia_electronica_barrido2.jpg" alt="Imagen de una diatomea">
                    </div>
                </div>
            </div>
        </details>

        <details class="border shadow-sm my-4">
            <summary>¿Qué es compresibilidad?</summary>
            <div class="info p-4">
                <p>Se refiere a la capacidad de un suelo para reducir su volumen bajo la aplicación de cargas externas. Esta propiedad es fundamental en ingeniería geotécnica, ya que describe cómo un suelo se compacta o se asienta cuando se le somete a peso adicional, como el de estructuras o edificaciones. La compresibilidad está influenciada por la estructura del suelo, la cantidad de agua en sus poros y la presión aplicada, y afecta la estabilidad y el asentamiento de las construcciones.</p>
                <div class="d-flex justify-content-center">
                    <img class="img-fluid border rounded" src="assets/img/compresibilidad.jpg" alt="Imagen de una diatomea">
                </div>
            </div>
        </details>

        <details class="border shadow-sm my-4">
            <summary>¿Qué es resistencia al corte?</summary>
            <div class="info p-4">
                <p>Resistencia interna por área unitaria que la masa de suelo ofrece para resistir la falla por los esfuerzos y el deslizamiento a lo largo de cualquier plano dentro de éste. </p>
                <div class="d-flex justify-content-center">
                    <img class="img-fluid border rounded" src="assets/img/resistencia_corte.jpg" alt="Imagen de una diatomea">
                </div>
            </div>
        </details>

        <details class="border shadow-sm my-4">
            <summary>¿Qué es permeabilidad?</summary>
            <div class="info p-4">
                <p>Es una propiedad de los materiales que indica la facilidad con la que un fluido puede atravesarlos. En el contexto de suelos y rocas, la permeabilidad describe la capacidad del material para permitir el paso de agua u otros líquidos a través de sus poros o espacios intersticiales. Un material con alta permeabilidad, como la arena, permite que el agua fluya a través de él con facilidad, mientras que un material con baja permeabilidad, como la arcilla, resiste el paso de líquidos.</p>
                <div class="row my-4">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center mb-3" >
                        <img class="img-fluid border rounded" src="assets/img/permeabilidad1.jpg" alt="Imagen de una diatomea">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center mb-3" >
                        <img class="img-fluid border rounded" src="assets/img/permeabilidad2.jpg" alt="Imagen de una diatomea">
                    </div>
                </div>
            </div>
        </details>
    </div>
</div>