
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/diatomeas_microscopio.png" alt="Una diatomea en el microscopio" /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Diatomeas</h1>
            <p>Bienvenidos a nuestra página sobre las diatomeas, conoce mas sobre el mundo de las algas microscópicas, unicelulares y eucariotas que pertenecen al reino de los protistas.
            </p>
            <a class="btn btn-primary" routerLink="conceptual">Conocer más</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Suelos de diatomea I</h2>
                    <p class="card-text">Conoce el articulo sobre los suelos de diatomeas y avances en ingeniería geotécnica: Parte I</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm  p-2" href="https://www.mdpi.com/2076-3417/13/1/549">Conocer más</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Suelos de diatomea II</h2>
                    <p class="card-text">Conoce el II articulo sobre los suelos de diatomeas y avances en ingeniería geotécnica: Parte II</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm p-2" href="https://www.mdpi.com/2075-5309/14/1/48">Conocer más</a></div>
            </div>
        </div>
    </div>
</div>