<div class="container">

    <h2 class="fs-1 text-center mt-4">Quienes somos</h2>

    <div class="row mb-5">
        <div class="col-12 text-center">
            <img src="assets/img/imagen_base.png" class="img-fluid rounded image_history">
        </div>
        <div class="col-12">
            <h3 class="fs-3 mb-3">Escuela de Ingenieros Militares</h3>
            <p>La Escuela de Ingenieros Militares ESING es una Institución de Educación Superior de carácter público, con régimen especial, según el artículo 137 de la Ley 30 de 1992.</p>
            <p>La Institución se caracteriza por enfocar su desarrollo académico en el campo de la Ingeniería, teniendo en cuenta el marco regulatorio castrense y la normatividad propia de la educación superior en Colombia. Enfoca su misionalidad en la profesionalización, actualización y capacitación del personal que conforma las Fuerzas Militares, dándole la oportunidad al personal civil de acceder a esta oferta académica, estableciendo así una relación entre lo militar y lo civil.</p>        
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-sm-12 col-md-6 col-xl-6">
            <h3 class="fs-3 mb-3">Caracterización programa, especialización de diseño y construcción de vías y aeropistas</h3>
            <p>El programa de posgrado en Especialización en Diseño y Construcción de Vías y Aeropistas está diseñado para profesionales en campos como la ingeniería, el urbanismo, la arquitectura, la ingeniería topográfica, la ingeniería civil, así como aquellos en áreas relacionadas con la ingeniería de vías y transporte, tanto en el sector civil como militar. Este programa se enfoca en los desafíos y habilidades actuales requeridos en el campo de la ingeniería de vías y aeropistas. Su plan de estudios está orientado a formar especialistas capacitados en el diseño y construcción de infraestructuras de transporte, abarcando temas como el diseño geométrico, pavimentos, geotecnia vial, taludes y drenajes, entre otros, lo anterior desarrollado en cuatro módulos, los cuales son:</p>
            <ul>
                <li>Módulo I - Complementario I Vías y Aeropistas.</li>
                <li>Módulo II - Diseño y Construcción de Vías.</li>
                <li>Módulo III - Diseño y Construcción de Aeropistas.</li>
                <li>Módulo IV - Complementario II Vías y Aeropistas.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-6">
            <h3 class="fs-3 mb-3">Universidad Militar</h3>
            <p>Es una institución de educación superior pública con un enfoque militar y académico, vinculada con el Ejército Nacional de Colombia, pero abierta a estudiantes civiles. Tiene su sede principal en Bogotá, la capital de Colombia, y cuenta con varias sedes regionales en el país. La universidad ofrece una amplia gama de programas de pregrado y posgrado en áreas como ingeniería, ciencias sociales, derecho, administración, ciencias de la salud, y ciencias militares, entre otras.</p>
        </div>
    </div>
</div>

